###########################################################
# ARMS Collector 配置修改需重启应用                          #
###########################################################
profiler.collector.ip=arms-dc-hz.aliyuncs.com

# ARMS 接入
arms.licenseKey=ARMS_LICENSE_KEY
arms.appId=ARMS_APP_ID

# placeHolder support "${key}"
profiler.collector.span.ip=${profiler.collector.ip}
profiler.collector.span.port=8883

# placeHolder support "${key}"
profiler.collector.stat.ip=${profiler.collector.ip}
profiler.collector.stat.port=8443

# placeHolder support "${key}"
profiler.collector.tcp.ip=${profiler.collector.ip}
profiler.collector.tcp.port=8442

# 全局配置：控制Agent是否工作（false为关闭埋点，修改慎重）
profiler.enable=ARMS_ENABLE

# 全局配置：采样功能是否开启 (false为关闭采集, 修改慎重)
profiler.sampling.enable=SAMPLING_ENABLE

# 全局配置：采样率设置规则百分比（100:100%, 50:50%, 20:20%, 10:10%, 5:5%）
profiler.sampling.rate=SAMPLING_RATE

###########################################################
# dubbo                                                   #
###########################################################
profiler.dubbo.enable=true

###########################################################
# google-httpclient                                       #
###########################################################
profiler.google.httpclient.enable=true

###########################################################
# httclient3                                              #
###########################################################
profiler.httpclient3.enable=true

###########################################################
# httclient4                                              #
###########################################################
profiler.httpclient4.enable=true

###########################################################
# jdk-http                                                #
###########################################################
profiler.jdkhttp.enable=true

###########################################################
# jetty                                                   #
###########################################################
profiler.jetty.enable=true
# 配置无效URL
profiler.jetty.excludeurl=

###########################################################
# mybatis                                                 #
###########################################################
profiler.orm.mybatis=true

###########################################################
# mysql-jdbc                                              #
###########################################################
profiler.jdbc.mysql=true

###########################################################
# okhttp                                                  #
###########################################################
profiler.okhttp.enable=true

###########################################################
# oracle-jdbc                                             #
###########################################################
profiler.jdbc.oracle=true

###########################################################
# redis                                                   #
###########################################################
profiler.redis.enable=true

###########################################################
# spring                                                  #
###########################################################
profiler.spring.beans=true

###########################################################
# spring-boot                                             #
###########################################################
profiler.springboot.enable=true

###########################################################
# tomcat                                                  #
###########################################################
profiler.tomcat.enable=true
# 配置无效URL
profiler.tomcat.excludeurl=